.tranparant{
    background-color: transparent !important;
}
.breadcrumb{
    background-color: transparent !important;
}
.breadcrumb .active{
    font-weight: 700;
}
.link-class{
    text-decoration: none;
    color: #6c757d;
}
.link-class:hover{
    text-decoration: none;
    color: #6c757d;
}
.card-rounded{
    /* border-radius: 50% !important; */
    border-top-left-radius: .9rem !important;
    border-top-right-radius: .9rem !important;
}
.text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.274);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}
.kartu:hover .overlay {
    height: 100%;
}